/**
 * @file
 * Visual styles for Bartik's field components.
 */

.field--type-entity-reference {
  margin: 0 0 1.2em;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  .field__label {
    margin: 0;
    padding-right: 5px;
    font-weight: normal;
    font-size: 0.8em;
  }
  .field__item {
    font-size: 0.8em;
  }
  ul.links {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      padding: 0 1em 0 0;
      white-space: nowrap;
    }
  }
}
[dir="rtl"] {
  .field--type-entity-reference {
    .field__label {
      padding-right: 0;
      padding-left: 5px;
    }
    ul.links {
      padding: 0;
      li {
        float: right;
        padding: 0 0 0 1em;
      }
    }
  }
  .field--name-field-tags {
    .field__label {
      padding-right: 0;
      padding-left: 5px;
    }
    ul.links li {
      float: right;
      padding: 0 0 0 1em;
    }
  }
}
.node--view-mode-teaser {
  .field--type-entity-reference {
    .field__label {
      font-size: 0.821em;
    }
    .field__item {
      font-size: 0.821em;
    }
    ul.links {
      font-size: 0.821em;
    }
  }
  .field--name-field-tags {
    .field__label {
      font-size: 0.821em;
    }
    ul.links {
      font-size: 0.821em;
    }
  }
}
@media all and(min-width: 560px) {
  .node .field--type-image {
    float: left;
    margin: 0 1em 0 0;
    + .field--type-image {
      clear: both;
    }
  }
  [dir="rtl"] .node .field--type-image {
    float: right;
    margin: 0 0 0 1em;
  }
}
.field--type-image {
  img {
    margin: 0 0 1em;
  }
  a {
    border-bottom: none;
  }
}
.field--name-field-tags {
  margin: 0 0 1.2em;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  .field__label {
    margin: 0;
    padding-right: 5px;
    font-weight: normal;
    font-size: 0.8em;
  }
  ul.links {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    li {
      float: left;
      padding: 0 1em 0 0;
      white-space: nowrap;
    }
  }
}
.field--name-user-picture img {
  margin: 0 0 1em;
}
