/**
 * @file
 * Visual styles for Bartik's node component.
 */

.node__title {
  a:hover {
    color: #803dea;
  }
}
.node__content {
  margin-top: 10px;
  font-size: 1em;
}
.node--view-mode-teaser {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d3d7d9;
  h2 {
    margin-top: 0;
    padding-top: 0.5em;
    a {
      color: #181818;
    }
  }
  &.node--sticky {
    padding: 0 15px 15px;
    border: 1px solid #d3d7d9;
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
  }
  .node__content {
    clear: none;
    font-size: 1em;
    line-height: 1.6;
  }
}
.node__meta {
  margin-bottom: -5px;
  color: #68696b;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 0.857em;
  .field--name-user-picture img {
    float: left;
    margin: 1px 20px 0 0;
  }
}
[dir="rtl"] {
  .node__links {
    text-align: left;
  }
  .node__meta .field--name-user-picture img {
    float: right;
    margin-right: 0;
    margin-left: 20px;
  }
}
.node__links {
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}
.node--unpublished {
  padding: 20px 15px 0;
  .comment-text .comment-arrow {
    border-right: 1px solid #fff4f4;
    border-left: 1px solid #fff4f4;
  }
}
