/**
 * @file
 * Footer Styling.
 */
.site-footer {
  padding: 35px 0 30px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.site-footer .layout-container {
  padding: 0 15px;
}

.site-footer h2 {
  color: rgba(255, 255, 255, 0.65);
}

.site-footer blockquote {
  color: #555;
}

.site-footer .content {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}

.site-footer .content a {
  color: rgba(255, 255, 255, 0.8);
}

.site-footer .content a.is-active {
  color: rgba(255, 255, 255, 0.8);
}

.site-footer .content a:hover {
  color: rgba(255, 255, 255, 0.95);
}

.site-footer .content a:focus {
  color: rgba(255, 255, 255, 0.95);
}

.site-footer .content ol:not(.menu) {
  padding-left: 1.4em;
}

.site-footer .content ul:not(.menu) {
  padding-left: 1.4em;
}

.site-footer .menu-item {
  padding: 0;
}

.site-footer .block {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
}

.site-footer table {
  font-size: 1em;
}

.site-footer tr td {
  border-color: rgba(255, 255, 255, 0.18);
}

.site-footer tr th {
  border-color: rgba(255, 255, 255, 0.18);
}

.site-footer tr.odd {
  background-color: transparent;
}

.site-footer tr.even {
  background-color: rgba(0, 0, 0, 0.15);
}

@media all and (min-width: 560px) {
  .site-footer__top .region {
    position: relative;
    float: left;
    width: 50%;
  }
  [dir="rtl"] .site-footer__top .region {
    float: right;
  }
}

@media all and (min-width: 560px) and (max-width: 850px) {
  .region-footer-third {
    clear: both;
  }
  .site-footer .region {
    box-sizing: border-box;
  }
  .site-footer__top .region:nth-child(2n) {
    padding-left: 10px;
  }
  .site-footer__top .region:nth-child(2n + 1) {
    padding-right: 10px;
  }
  [dir="rtl"] .site-footer__top .region:nth-child(2n) {
    padding-right: 10px;
    padding-left: 0;
  }
  [dir="rtl"] .site-footer__top .region:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 10px;
  }
}

@media all and (min-width: 851px) {
  .site-footer__top .region {
    width: 24%;
    padding: 0 0.65%;
  }
  .site-footer__top .region:first-child {
    padding-left: 0;
  }
  .site-footer__top .region:last-child {
    padding-right: 0;
  }
  [dir="rtl"] .site-footer__top .region:first-child {
    padding-right: 0;
    padding-left: 10px;
  }
  [dir="rtl"] .site-footer__top .region:last-child {
    padding-right: 10px;
    padding-left: 0;
  }
}

[dir="rtl"] {
  /**
   * When the item is both first and last, :last-child overrides the right padding
   * when using [dir="rtl"]. We need this rule to remove the right padding.
   */
}

[dir="rtl"] .site-footer .content ol:not(.menu) {
  padding-right: 1.4em;
  padding-left: 0;
}

[dir="rtl"] .site-footer .content ul:not(.menu) {
  padding-right: 1.4em;
  padding-left: 0;
}

[dir="rtl"] .site-footer__top .content .menu {
  padding-right: 0;
}

[dir="rtl"] .site-footer__top .content li a {
  padding: 0.8em 20px 0.8em 2px;
}

[dir="rtl"] .site-footer__bottom .menu-item a {
  float: right;
  border-right: none;
  border-left: 1px solid #555;
}

[dir="rtl"] .site-footer__bottom .menu-item:first-child a {
  padding-right: 0;
  padding-left: 12px;
}

[dir="rtl"] .site-footer__bottom .menu-item:first-child:last-child a {
  padding-right: 0;
}

[dir="rtl"] .site-footer__bottom .menu-item:last-child a {
  padding-right: 12px;
  padding-left: 0;
  border-left: none;
}

.site-footer__top h2 {
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #555;
  font-size: 1em;
}

.site-footer__top .content {
  margin-top: 0;
}

.site-footer__top .content .menu {
  padding-left: 0;
}

.site-footer__top .content li a {
  display: block;
  padding: 0.8em 2px 0.8em 20px;
  text-indent: -15px;
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #555;
  line-height: 1.2;
}

.site-footer__top .content li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}

.site-footer__top .content li a:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}

.site-footer__top p {
  margin-top: 1em;
}

.site-footer__top .block-menu {
  margin: 0;
  padding: 0;
  border: none;
}

.site-footer__bottom {
  margin-top: 30px;
  letter-spacing: 0.2px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}

.site-footer__bottom .block {
  margin: 0;
  padding: 0;
  border: none;
  margin: 0.5em 0;
  clear: both;
}

.site-footer__bottom .block h2 {
  margin: 0;
}

.site-footer__bottom .block .menu {
  padding: 0;
}

.site-footer__bottom .content {
  margin-top: 0;
  padding: 0.5em 0;
}

.site-footer__bottom .region {
  margin-top: 20px;
}

.site-footer__bottom .menu-item a {
  display: block;
  float: left;
  padding: 0 12px;
  border-color: rgba(255, 255, 255, 0.15);
  border-right: 1px solid #555;
}

.site-footer__bottom .menu-item:first-child a {
  padding-left: 0;
}

.site-footer__bottom .menu-item:last-child a {
  padding-right: 0;
  border-right: none;
}
/*# sourceMappingURL=site-footer.css.map */